<!DOCTYPE html>
<html>
    <head>
        <title>Admin | View faculty</title>
        <link rel="stylesheet" href="/css/adminMenuStyle.css">
        <link rel="stylesheet" href="/css/adminViewFaculty.css">
    </head>
    <body>
        {{>adminMenu}}
        <script type="text/javascript">
            document.write("<table>")
            var slno=1
                {{#each facultys}}
                    document.write("<tr>")
                        document.write("<td>"+slno+"</td>")
                        document.write("<td>"+"{{name}}"+"</td>")
                        document.write("<td>"+"{{email}}"+"</td>")
                        document.write("<td>"+"{{designation}}"+"</td>")
                        document.write("<td>"+"{{qualification}}"+"</td>")
                        document.write("<td>"+"{{department}}"+"</td>")
                        document.write("<td>"+"{{dateOfJoining}}".slice(4,15)+"</td>")
                        document.write("<td>"+"<form id='edit'><input type='hidden' value='{{email}}'><button>edit</button></form>"+"</td>")
                        document.write("<td>"+"<form id='edit'><input type='hidden' value='{{email}}'><button>delete</button></form>"+"</td>")
                    document.write("</tr>")
                    slno=slno+1
                {{/each}}
            document.write("</table>")
        </script>
    </body>
</html>